<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="~/Content/css/EconomyReloadedMain.css" rel="stylesheet" />
</head>
<body>
  <nav>
    <a href="@Url.Action("Index","Home")">Home</a>
    <a href="#">Contact</a>
    <a href="#">About</a>
  </nav>
  <div>
    @RenderBody()
  </div>
  <script src="~/Scripts/jquery-2.1.4.min.js"></script>
  <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/Scripts/EconomyReloaded/EconomyReloaded.js"></script>
</body>
</html>
