@model IEnumerable<EconomyReloaded.Models.User>

<h1>Index</h1>


@{
    if (!Model.Any())
    {
        <p>Inga användare</p>
    }
    else
    {
        <h2>Dessa användare funna:</h2>
        foreach (var user in Model)
        {
            <hr />
            <p>@user.Email</p>
            <p>@user.FirstName</p>
            <p>@user.LastName</p>
            <p>@user.UserId</p>
            <hr />
        }
    }

}